In [28]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/masatotakeuchi/.pyenv/versions/3.7.4/lib/python3.7/site-packages (3.0.3)
Requirement already satisfied: jdcal in /Users/masatotakeuchi/.pyenv/versions/3.7.4/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et_xmlfile in /Users/masatotakeuchi/.pyenv/versions/3.7.4/lib/python3.7/site-packages (from openpyxl) (1.0.1)

In [29]:
import openpyxl
import pandas as pd
import glob

In [30]:
import_file_path = '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/sample.xlsx'
excel_sheet_name = '発注管理表'
export_file_path = '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output'

In [31]:
'Desktop/python/51_jupyter notebooks/54_exel/sample.xlsx'

'Desktop/python/51_jupyter notebooks/54_exel/sample.xlsx'

In [32]:
df_order = pd.read_excel(import_file_path, sheet_name = excel_sheet_name)

In [33]:
df_order

      会社名  商品番号 商品分類    商品名    単価  数量   発注金額
0   株式会社A  a019  食べ物    バナナ   700   5   3500
1   株式会社E  a010   お酒    ビール  1000   9   9000
2   株式会社C  a003   お酒  ハイボール   200   1    200
3   株式会社D  a012  食べ物    リンゴ   150   1    150
4   株式会社E  a017  食べ物    メロン   700   1    700
5   株式会社F  a014  食べ物    バナナ   500   8   4000
6   株式会社D  a015   お酒  ハイボール   300   1    300
7   株式会社D  a012   お酒    日本酒  1500   1   1500
8   株式会社C  a020   お酒    ビール   400   2    800
9   株式会社B  a011   お酒    ビール   400   2    800
10  株式会社A  a007    薬     胃薬   700   4   2800
11  株式会社B  a012  食べ物    ピーチ   800   4   3200
12  株式会社C  a013  食べ物    リンゴ   500   7   3500
13  株式会社D  a014   お酒    日本酒  3000   2   6000
14  株式会社D  a001   お酒  ハイボール   650   4   2600
15  株式会社A  a002  食べ物    キウイ   120   4    480
16  株式会社E  a003   お酒    ビール   400   2    800
17  株式会社A  a015    薬    頭痛薬   300   3    900
18  株式会社C  a016    薬     胃薬  2000   4   8000
19  株式会社E  a007  食べ物    キウイ   800   6   4800
20  株式会社C  a015   お酒    日本酒   500   2   1000
21  株式会社B  a001  食べ物    リンゴ   200   1    200
22  株式会社E  a006  食べ物    スイカ   700   4   2800
23  株式会社A  a001   お酒    ビール   200   5   1000
24  株式会社C  a019  食べ物    キウイ  1500   7  10500

In [34]:
company_name = df_order['会社名'].unique()

In [35]:
company_name

array(['株式会社A', '株式会社E', '株式会社C', '株式会社D', '株式会社F', '株式会社B'], dtype=object)

In [36]:
type(company_name)

numpy.ndarray

In [37]:
type(df_order)

pandas.core.frame.DataFrame

In [38]:
df_order['会社名'] == '株式会社A'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23     True
24    False
Name: 会社名, dtype: bool

In [39]:
df_order[df_order['会社名'] == '株式会社A']

      会社名  商品番号 商品分類  商品名   単価  数量  発注金額
0   株式会社A  a019  食べ物  バナナ  700   5  3500
10  株式会社A  a007    薬   胃薬  700   4  2800
15  株式会社A  a002  食べ物  キウイ  120   4   480
17  株式会社A  a015    薬  頭痛薬  300   3   900
23  株式会社A  a001   お酒  ビール  200   5  1000

In [40]:
for i in company_name:
    print(i)

株式会社A
株式会社E
株式会社C
株式会社D
株式会社F
株式会社B

In [41]:
for i in company_name:
    df_order_company = df_order[df_order['会社名'] == i]
    print(df_order_company)

      会社名  商品番号 商品分類  商品名   単価  数量  発注金額
0   株式会社A  a019  食べ物  バナナ  700   5  3500
10  株式会社A  a007    薬   胃薬  700   4  2800
15  株式会社A  a002  食べ物  キウイ  120   4   480
17  株式会社A  a015    薬  頭痛薬  300   3   900
23  株式会社A  a001   お酒  ビール  200   5  1000
      会社名  商品番号 商品分類  商品名    単価  数量  発注金額
1   株式会社E  a010   お酒  ビール  1000   9  9000
4   株式会社E  a017  食べ物  メロン   700   1   700
16  株式会社E  a003   お酒  ビール   400   2   800
19  株式会社E  a007  食べ物  キウイ   800   6  4800
22  株式会社E  a006  食べ物  スイカ   700   4  2800
      会社名  商品番号 商品分類    商品名    単価  数量   発注金額
2   株式会社C  a003   お酒  ハイボール   200   1    200
8   株式会社C  a020   お酒    ビール   400   2    800
12  株式会社C  a013  食べ物    リンゴ   500   7   3500
18  株式会社C  a016    薬     胃薬  2000   4   8000
20  株式会社C  a015   お酒    日本酒   500   2   1000
24  株式会社C  a019  食べ物    キウイ  1500   7  10500
      会社名  商品番号 商品分類    商品名    単価  数量  発注金額
3   株式会社D  a012  食べ物    リンゴ   150   1   150
6   株式会社D  a015   お酒  ハイボール   300   1   300
7   株式会社D  a012   お酒    日本酒  1500   1  1500
13  株式会社D  a014   お酒    日本酒  3000   2  6000
14  株式会社D  a001   お酒  ハイボール   650   4  2600
     会社名  商品番号 商品分類  商品名   単価  数量  発注金額
5  株式会社F  a014  食べ物  バナナ  500   8  4000
      会社名  商品番号 商品分類  商品名   単価  数量  発注金額
9   株式会社B  a011   お酒  ビール  400   2   800
11  株式会社B  a012  食べ物  ピーチ  800   4  3200
21  株式会社B  a001  食べ物  リンゴ  200   1   200

In [44]:
for i in company_name:
    df_order_company = df_order[df_order['会社名'] == i]
    df_order_company.to_excel(export_file_path+'/'+i+'.xlsx')