In [29]:
import openpyxl
import pandas as pd   #pandasの省略形式を「pd」として定義している
import glob                 #glob()関数を使用するためのインポート操作

In [30]:
export_file_path = '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/input'

In [31]:
import_folder_path = '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output'

In [32]:
path = import_folder_path + '/' + '*.xlsx'

In [33]:
file_path = glob.glob(path)     #glob()関数を用いて、引数に指定したパターンをディレクトリ内で検索

In [34]:
file_path

['/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output/株式会社A.xlsx',
 '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output/株式会社F.xlsx',
 '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output/株式会社E.xlsx',
 '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output/株式会社D.xlsx',
 '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output/株式会社C.xlsx',
 '/Users/masatotakeuchi/Desktop/python/51_jupyter notebooks/54_exel/output/株式会社B.xlsx']

In [43]:
df_concat=pd.DataFrame()     #データが入っていない空のデータフレームを作成し、変数に格納する

for i in file_path:
    df_read_excel=pd.read_excel(i)
    print(df_read_excel.head(3))      #「head(3)」で最初の３行目のみを指定

   Unnamed: 0    会社名  商品番号 商品分類  商品名   単価  数量  発注金額
0           0  株式会社A  a019  食べ物  バナナ  700   5  3500
1          10  株式会社A  a007    薬   胃薬  700   4  2800
2          15  株式会社A  a002  食べ物  キウイ  120   4   480
   Unnamed: 0    会社名  商品番号 商品分類  商品名   単価  数量  発注金額
0           5  株式会社F  a014  食べ物  バナナ  500   8  4000
   Unnamed: 0    会社名  商品番号 商品分類  商品名    単価  数量  発注金額
0           1  株式会社E  a010   お酒  ビール  1000   9  9000
1           4  株式会社E  a017  食べ物  メロン   700   1   700
2          16  株式会社E  a003   お酒  ビール   400   2   800
   Unnamed: 0    会社名  商品番号 商品分類    商品名    単価  数量  発注金額
0           3  株式会社D  a012  食べ物    リンゴ   150   1   150
1           6  株式会社D  a015   お酒  ハイボール   300   1   300
2           7  株式会社D  a012   お酒    日本酒  1500   1  1500
   Unnamed: 0    会社名  商品番号 商品分類    商品名   単価  数量  発注金額
0           2  株式会社C  a003   お酒  ハイボール  200   1   200
1           8  株式会社C  a020   お酒    ビール  400   2   800
2          12  株式会社C  a013  食べ物    リンゴ  500   7  3500
   Unnamed: 0    会社名  商品番号 商品分類  商品名   単価  数量  発注金額
0           9  株式会社B  a011   お酒  ビール  400   2   800
1          11  株式会社B  a012  食べ物  ピーチ  800   4  3200
2          21  株式会社B  a001  食べ物  リンゴ  200   1   200

In [44]:
df_concat=pd.DataFrame()     #データが入っていない空のデータフレームを作成し、変数に格納する

for i in file_path:
    df_read_excel=pd.read_excel(i)
    df_concat=pd.concat([df_read_excel,df_concat])     #concat関数はそれぞれのデータフレームを結合することが可能

In [45]:
df_concat

   Unnamed: 0    会社名  商品番号 商品分類    商品名    単価  数量   発注金額
0           9  株式会社B  a011   お酒    ビール   400   2    800
1          11  株式会社B  a012  食べ物    ピーチ   800   4   3200
2          21  株式会社B  a001  食べ物    リンゴ   200   1    200
0           2  株式会社C  a003   お酒  ハイボール   200   1    200
1           8  株式会社C  a020   お酒    ビール   400   2    800
2          12  株式会社C  a013  食べ物    リンゴ   500   7   3500
3          18  株式会社C  a016    薬     胃薬  2000   4   8000
4          20  株式会社C  a015   お酒    日本酒   500   2   1000
5          24  株式会社C  a019  食べ物    キウイ  1500   7  10500
0           3  株式会社D  a012  食べ物    リンゴ   150   1    150
1           6  株式会社D  a015   お酒  ハイボール   300   1    300
2           7  株式会社D  a012   お酒    日本酒  1500   1   1500
3          13  株式会社D  a014   お酒    日本酒  3000   2   6000
4          14  株式会社D  a001   お酒  ハイボール   650   4   2600
0           1  株式会社E  a010   お酒    ビール  1000   9   9000
1           4  株式会社E  a017  食べ物    メロン   700   1    700
2          16  株式会社E  a003   お酒    ビール   400   2    800
3          19  株式会社E  a007  食べ物    キウイ   800   6   4800
4          22  株式会社E  a006  食べ物    スイカ   700   4   2800
0           5  株式会社F  a014  食べ物    バナナ   500   8   4000
0           0  株式会社A  a019  食べ物    バナナ   700   5   3500
1          10  株式会社A  a007    薬     胃薬   700   4   2800
2          15  株式会社A  a002  食べ物    キウイ   120   4    480
3          17  株式会社A  a015    薬    頭痛薬   300   3    900
4          23  株式会社A  a001   お酒    ビール   200   5   1000

In [48]:
df_drop = df_concat.drop('Unnamed: 0', axis = 1)     #「drop」データフレームの列/行を削除、削除する方向(列/行)を指定

In [49]:
df_drop.head(3)

     会社名  商品番号 商品分類  商品名   単価  数量  発注金額
0  株式会社B  a011   お酒  ビール  400   2   800
1  株式会社B  a012  食べ物  ピーチ  800   4  3200
2  株式会社B  a001  食べ物  リンゴ  200   1   200

In [52]:
df_sort = df_drop.sort_values(by='発注金額', ascending=False)     #「発注金額」の項目を降順で表示（True=昇順）

In [53]:
df_sort

     会社名  商品番号 商品分類    商品名    単価  数量   発注金額
5  株式会社C  a019  食べ物    キウイ  1500   7  10500
0  株式会社E  a010   お酒    ビール  1000   9   9000
3  株式会社C  a016    薬     胃薬  2000   4   8000
3  株式会社D  a014   お酒    日本酒  3000   2   6000
3  株式会社E  a007  食べ物    キウイ   800   6   4800
0  株式会社F  a014  食べ物    バナナ   500   8   4000
0  株式会社A  a019  食べ物    バナナ   700   5   3500
2  株式会社C  a013  食べ物    リンゴ   500   7   3500
1  株式会社B  a012  食べ物    ピーチ   800   4   3200
1  株式会社A  a007    薬     胃薬   700   4   2800
4  株式会社E  a006  食べ物    スイカ   700   4   2800
4  株式会社D  a001   お酒  ハイボール   650   4   2600
2  株式会社D  a012   お酒    日本酒  1500   1   1500
4  株式会社A  a001   お酒    ビール   200   5   1000
4  株式会社C  a015   お酒    日本酒   500   2   1000
3  株式会社A  a015    薬    頭痛薬   300   3    900
2  株式会社E  a003   お酒    ビール   400   2    800
1  株式会社C  a020   お酒    ビール   400   2    800
0  株式会社B  a011   お酒    ビール   400   2    800
1  株式会社E  a017  食べ物    メロン   700   1    700
2  株式会社A  a002  食べ物    キウイ   120   4    480
1  株式会社D  a015   お酒  ハイボール   300   1    300
0  株式会社C  a003   お酒  ハイボール   200   1    200
2  株式会社B  a001  食べ物    リンゴ   200   1    200
0  株式会社D  a012  食べ物    リンゴ   150   1    150

In [55]:
df_sort.to_excel(export_file_path + '/' + '予実管理表.xlsx')     #出力ファイルの格納先を指定（ファイル名は"予実管理表"）

In [56]:
workbook = openpyxl.load_workbook(export_file_path+'/予実管理表.xlsx')     #load_workbook関数：Excelファイルを読み込む
worksheet = workbook.worksheets[0]                                                                    #「０」と指定することで一番最初のシートを選択
worksheet.delete_cols(1)                                                                                         #delete_cols関数：指定した列を削除（１列目を削除）
workbook.save(export_file_path+'/予実管理表_01.xlsx')                                    #save関数：ファイルを保存（引数に保存場所指定）